<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' "/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'/>
    <title>SimpleCRUD</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <script defer src="/js/main.js"></script>
</head>
<body>
<div class="mainApp">
    <div class="contentArea">
        <div id="contentPages" class="contentPages">
            <hr>
            <h3>Employees</h3>
            <br>
            <div id="employeeSection">
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Occupation</th>
                        <th>Salary</th>
                        <th>Modify</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% if (users.length > 0) { %>
                            <% users.forEach(user => { %>
                                <tr>
                                    <td><%= user.name%></td>
                                    <td><%= user.occupation%></td>
                                    <td><%= user.salary%></td>
                                    <td style="text-align: center">
                                        <button style="margin-bottom: 3px" class="updateButton buttons2">Update</button>
                                        <button class="deleteButton buttons2">Delete</button>
                                    </td>
                                </tr>
                            <% }) %>
                        <% } else { %>
                            <p style="margin: auto; width:80%; text-align: center; font-size: 18px">There is currently no data in the database. Feel free to add an employee!</p>
                            <br>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <br>
            <div id="form-container">
                <form id="createEmployeeForm">
                    <label for="nameInput">Name</label>
                    <input class="custom-input" id="nameInput" type="text" placeholder="John" name="name">
                    <br>
                    <label for="occupationInput">Occupation</label>
                    <input class="custom-input" id="occupationInput" type="text" placeholder="Programmer" name="occupationInput">
                    <br>
                    <label for="salaryInput">Salary</label>
                    <input class="custom-input" id="salaryInput" type="text" placeholder="65000" name="salaryInput">
                    <br>
                </form>
            </div>
            <div class="middle">
                <button id="submitEmployeeButton" class="buttons">Submit</button>
            </div>

            <div class="middle">
                <button id="createEmployeeButton" class="buttons">Create new employee</button>
            </div>
            <br>
            <hr>
        </div>
    </div>
</div>
</body>
</html>